# --- DATABASE CREDENTIALS ---
DB_USER=
DB_PASSWORD=
DB_NAME=
EXTERNAL_PORT=

# --- LIMODIM SERVICE SETTINGS ---
BACKEND_PORT=
FRONTEND_PORT=
VITE_API_URL=
DB_MANAGER_URL=
MESSENGER_URL=
HOST_PDF_STORAGE_PATH=
INTERNAL_PDF_STORAGE_PATH=

# --- MAIN DATABASE CONNECTION STRING ---
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}"

# --- MESSENGER ---
MESSENGER_PORT=
MESSENGER_API_BASE=

# --- MICROSERVICES ---
AI_PORT_EXTERNAL=

# --- MAP VIEWER SETTINGS ---
MAP_PORT=