# Database Credentials
DB_USER=
DB_PASSWORD=
DB_NAME=
EXTERNAL_PORT=

# Limodim Service Settings
BACKEND_PORT=
FRONTEND_PORT=
VITE_API_URL=
DB_MANAGER_URL=
PDF_STORAGE_PATH=

# Main Database Connection String
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}"

# Microservices
AI_PORT_EXTERNAL=

# Map Viewer Settings
MAP_PORT=