# Database Credentials
DB_USER=
DB_PASSWORD=
DB_NAME=
EXTERNAL_PORT=

# Limodim Service Settings
BACKEND_PORT=
FRONTEND_PORT=
VITE_API_URL=
DB_MANAGER_URL=
HOST_PDF_STORAGE_PATH=
INTERNAL_PDF_STORAGE_PATH=

# Main Database Connection String
DATABASE_URL=

# Microservices
AI_PORT_EXTERNAL=

# Map Viewer Settings
MAP_PORT=

# Icons
ICON_BACKEND_PORT_EXTERNAL=
ICON_FRONTEND_PORT_EXTERNAL=
VITE_ICONS_API_URL=

# --- Mitamnim Service Settings ---
MITAMNIM_BACKEND_PORT=
MITAMNIM_FRONTEND_PORT=
VITE_MITAMNIM_API_URL=
VITE_ICONS_API_URL=
CACHE_KEY_MITAMNIM=
