# --- ServerFarm Specifics ---
farm_logs/
.env

# --- JavaScript / Node ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.pytest_cache/

# --- OS / IDE Specifics ---
.DS_Store
Thumbs.db
.vscode/
.idea/